global/s3/.terraform/providers/registry.terraform.io/hashicorp/aws/4.37.0/darwin_arm64/terraform-provider-aws_v4.37.0_x5
*.ext filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
